*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
/* Main style */
header{
    background-color: #FFF8F3;
    padding-top: 80px;
    background: url("../images/developer.png") ,url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.btn{
   background-color: #FD6E0A; 
   padding: 20px;
   font-size: 20px;
   font-weight: bold;
   border: none;
   border-radius: 10px;
   color: white;
}
nav{
    width: 71%;
    max-width:1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 45px;
    font-weight: 900;
}
nav .logo span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner{
    
    margin:  47px 38px 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#banner-content{
    max-width: 585px;
}

#banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;

}
#banner-content h1{
    font-size: 85px;
    font-weight: 800px;
    color: black;
}
#banner-content p{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 25px;
}
#banner-img{
    max-width: 585px;
}
#banner-img img{
    max-width: 500px;
    height: 600px;
    vertical-align: middle;
    /* border: none;
    border-radius: 20px; */
}
#about{
    width: 71%;
    max-width:1140px;
    border-radius: 15px;
    margin: 0 auto;
    margin: 88.5px 230px 130px;
    background-color: #FFF8F3;
    padding: 110px 70px 110px 70px;
    text-align: center;
    
}
#about .about-content h1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}
#about .about-content p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}
#about #root{
    display: flex;
    justify-content: space-between;
}
#do{
     width: 71%;
    max-width:1140px;
    margin: 0 auto;
}
#do #do-content h1{
    font-size:35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
#do #do-content p{
    text-align: center;
    color: #757575;
    line-height: 1.5;
    margin: 40px;
}
#skill{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}
#skill .skill-dev{
    max-width: 300px;
    max-height: 377px;
    background-color:whitesmoke;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px black;
}
#skill .skill-dev p{
    font-size: 15px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 20px;

}
#skill .skill-dev h2{
    font-size: 20px;
    margin-top: 20px;
}





